
BassEnhancer.filtergraph
Builds/VisualStudio2017/.vs/BassEnhancer/v15/.suo
Builds/VisualStudio2017/.vs/BassEnhancer/v15/Browse.VC.db
Builds/VisualStudio2017/.vs/BassEnhancer/v15/ipch/AutoPCH/281269bc52e2338f/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/BassEnhancer/v15/ipch/AutoPCH/3ae8bdc32e311818/PLUGINPROCESSOR.ipch
Builds/VisualStudio2017/.vs/BassEnhancer/v15/ipch/AutoPCH/98b3c98ba649bc38/PLUGINPROCESSOR.ipch
Builds/VisualStudio2017/.vs/BassEnhancer/v15/Solution.VC.db
Builds/VisualStudio2017/BassEnhancer.sln
Builds/VisualStudio2017/BassEnhancer_SharedCode.vcxproj
Builds/VisualStudio2017/BassEnhancer_SharedCode.vcxproj.filters
Builds/VisualStudio2017/BassEnhancer_SharedCode.vcxproj.user
Builds/VisualStudio2017/BassEnhancer_StandalonePlugin.vcxproj
Builds/VisualStudio2017/BassEnhancer_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2017/BassEnhancer_VST3.vcxproj
Builds/VisualStudio2017/BassEnhancer_VST3.vcxproj.filters
Builds/VisualStudio2017/BassEnhancer_VST3.vcxproj.user
Builds/VisualStudio2017/BassEnhancer_VST3ManifestHelper.vcxproj
Builds/VisualStudio2017/BassEnhancer_VST3ManifestHelper.vcxproj.filters
Builds/VisualStudio2017/resources.rc
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/BassEnhancer_SharedCode.lastbuildstate
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnha.851DBFE1.tlog/Lib.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnhancer.lib
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnhancer.pdb
Builds/VisualStudio2017/x64/Debug/Shared Code/BassEnhancer_SharedCode.log
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/BassEnhancer_VST3ManifestHelper.lastbuildstate
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/BassEnhancer_VST3ManifestHelper.log
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.exe
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.ilk
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.pdb
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/juce_VST3ManifestHelper.obj
Builds/VisualStudio2017/x64/Debug/VST3 Manifest Helper/resources.res
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/BassEnhancer_VST3.lastbuildstate
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/BassEnhancer_VST3.write.1u.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/link.delete.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnha.52F2381C.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.dll
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.exp
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.ilk
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.lib
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.pdb
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.vst3/Contents/Resources/moduleinfo.json
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer.vst3/Contents/x86_64-win/BassEnhancer.vst3
Builds/VisualStudio2017/x64/Debug/VST3/BassEnhancer_VST3.log
Builds/VisualStudio2017/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2017/x64/Debug/VST3/resources.res
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/BassEnhancer_SharedCode.lastbuildstate
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnha.851DBFE1.tlog/Lib.command.1.tlog
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnhancer.lib
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnhancer.pdb
Builds/VisualStudio2017/x64/Release/Shared Code/BassEnhancer_SharedCode.log
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_core.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_events.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2017/x64/Release/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2017/x64/Release/Shared Code/PluginEditor.obj
Builds/VisualStudio2017/x64/Release/Shared Code/PluginProcessor.obj
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/BassEnhancer_VST3ManifestHelper.lastbuildstate
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnha.4B2F0CCB.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/BassEnhancer_VST3ManifestHelper.log
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/juce_vst3_helper.exe
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/juce_vst3_helper.pdb
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/juce_VST3ManifestHelper.obj
Builds/VisualStudio2017/x64/Release/VST3 Manifest Helper/resources.res
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/BassEnhancer_VST3.lastbuildstate
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/BassEnhancer_VST3.write.1u.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnha.52F2381C.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer.dll
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer.exp
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer.lib
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer.pdb
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer.vst3/Contents/Resources/moduleinfo.json
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer.vst3/Contents/x86_64-win/BassEnhancer.vst3
Builds/VisualStudio2017/x64/Release/VST3/BassEnhancer_VST3.log
Builds/VisualStudio2017/x64/Release/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2017/x64/Release/VST3/resources.res
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.mm
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_processors_ara.cpp
JuceLibraryCode/include_juce_audio_processors_lv2_libs.cpp
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
Builds/VisualStudio2017/.vs/BassEnhancer/v15/ipch/AutoPCH/33ea070d7181ae2f/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/BassEnhancer/v15/ipch/AutoPCH/420bb7bb542d6768/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
Builds/VisualStudio2017/.vs/BassEnhancer/v15/ipch/AutoPCH/234b6214f81c8a69/INCLUDE_JUCE_GUI_BASICS.ipch
